@layer base {
  .dark {
    --background: 222 24% 14%;
    --foreground: 210 40% 98%;
    --card: 222 24% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 24% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 158 45% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 25% 24%;
    --secondary-foreground: 210 40% 98%;
    --secondary-hover: 215 25% 29%;
    --muted: 215 25% 24%;
    --muted-foreground: 217.9 10.6% 80%;
    --accent: 158 45% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 210 40% 98%;
    --success: 142 76% 36%;
    --success-foreground: 210 40% 98%;
    --border: 217 19% 32%;
    --input: 217 19% 32%;
    --ring: 158 45% 25%;
  }

  .dark * {
    @apply transition-colors duration-100;
  }
}